@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student

<h2>Add a student to the registrar</h2>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.LabelFor(model => model.DOE)
  @Html.TextBoxFor(model => model.DOE, new { type = "date"})

  <input type="submit" value="Add new student"/>
}

<p>@Html.ActionLink("View all students", "Index")</p>