@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student

<h2>Student Details</h2>
<hr />
<br>
<h4>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h4>
<h4>@Html.DisplayNameFor(model => model.DOE): @Html.DisplayFor(model => model.DOE, new { @type = "date" })</h4>
<br>
<p>@Html.ActionLink($"Edit {Model.Name}", "Edit", new { id = Model.StudentId })</p>
<p>@Html.ActionLink($"Delete {Model.Name} 😞", "Delete", new { id = Model.StudentId })</p>
<p>@Html.ActionLink("Back to student list", "Index")</p>