@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Major

<h2>Add a Major!📚🎓</h2>
<br>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  <br>
  <br> 

  @Html.LabelFor(model => model.Department)
  @Html.DropDownList("DepartmentId")

  <input type="submit" value="Add new Major"/>
}
<br>
<h3>@Html.ValidationMessageFor(model => model.Name, "", new { @style = "color: Red;" })</h3>
@* <h3>@Html.ValidationMessageFor(model => model.CourseNumber, "", new { @style = "color: Red;" })</h3> *@
<p>@Html.ActionLink("View all courses", "Index")</p>